$color-main: #499A18;
$color-additional: #E06733;

$color-bg: #EDF2EC;
$color-bg-additional: #D6E7D2;
$color-bg-selection: #C1E698;

$color-border: #E3E1D5;

$color-text: #636060;
$color-text-additional: #717171;
$color-nav: #010201;

$color-black: #000000;
$color-white: #ffffff;