body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #636060;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  padding: 12px 30px;
  font-family: "Inika", serif;
  color: #E06733;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #E06733;
  border-radius: 5px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.about {
  padding-top: 160px;
  padding-bottom: 156px;
}
.about.container {
  background-image: url("assets/images/bg-houseplant.png");
  background-repeat: no-repeat;
  background-position: 90% 93px;
}
.about .about__wrapper {
  max-width: 610px;
  margin-right: auto;
}
.about .about__header {
  max-width: 470px;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Inika", serif;
  color: #499A18;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}
.about .about__header strong {
  color: #E06733;
  font-weight: 400;
}
.about .about__text {
  color: #636060;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.welcome {
  background-color: #EDF2EC;
}
.welcome .container {
  padding-top: 98px;
  padding-bottom: 94px;
  background-image: url("assets/images/bg-leafs.png");
  background-repeat: no-repeat;
  background-position: 109px center;
}
.welcome .welcome__wrapper {
  margin-left: auto;
  max-width: 550px;
}
.welcome .welcome__header {
  margin: 0;
  margin-bottom: 42px;
  color: #717171;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
.welcome .welcome__header b {
  color: #499A18;
}
.welcome .welcome__text {
  margin-bottom: 48px;
  color: #636060;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
.welcome .welcome__button {
  padding: 14px 27px;
  font-family: "Inter", sans-serif;
  color: #000000;
  text-transform: uppercase;
  border-radius: 10px;
  border-width: 2px;
}

.container {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 109px;
  padding-right: 109px;
}

header {
  background-color: #EDF2EC;
  font-family: "Inika", serif;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 42px;
}

.header__logo {
  position: relative;
  padding-left: 23px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.header__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  background-image: url("assets/icons/logo.png");
}

.header__nav ul {
  display: flex;
  gap: 46px;
}
.header__nav .header__nav-link {
  text-decoration: none;
  color: #010201;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
}
.header__nav .header__nav-link--current {
  color: #E06733;
  font-weight: 700;
}
.header__nav .header__nav-link:hover, .header__nav .header__nav-link:focus {
  color: #499A18;
}

/*# sourceMappingURL=style.css.map */
